{% extends 'biblioteca/base.html' %}

{% block content %}
<h1 class="mb-4">📚 Lista de Libros</h1>

<div class="row">
    {% for libro in libros %}
        <div class="col-md-4">
            <div class="card mb-3 shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ libro.titulo }}</h5>
                    <p class="card-text">{{ libro.autor.nombre }}</p>
                    <a href="/libro/{{ libro.id }}/" class="btn btn-primary btn-sm">Ver detalle</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}